<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="3.1" package="com.companyname.ArcheryScoringApp" android:installLocation="preferExternal" android:versionCode="3">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="ArcheryScoringAppTest.Android">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.companyname.ArcheryScoringApp.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>
<!--The provider tag is for file provider and e-mail. The code is modified from NuGet documentation code 
    from the NuGet Plugin.Messaging documentation.
    cjlotz, j. (n/d). Xamarin.Plugins/Messaging. Retrieved September 17, 2018, from GitHub cjlotz: https://github.com/cjlotz/Xamarin.Plugins/blob/master/Messaging/Details.md -->